* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    -webkit-font-smoothing: antialiased;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
    font-size: 14px;
    color: white;
    background: #121212;
}

h1 {
    color: white;
}

#app {
    margin: 15px 25px 0 25px;
}

.tab {
    display: inline-block;
    margin: 10px;
    border-bottom: 2px solid transparent;
    font-size: 20px;
    cursor: pointer;
    user-select: none;
    transition: 0.2s all;
    
    &:hover {
        border-color: #c1b1ff;
    }
    &.active {
        border-color: #5c33ff;
    }
}

.filters {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    
    .sep {
        width: 10px;
    }

    .filter {
        flex: 1;
        min-width: 500px;

        label {
            display: block;
            margin: 4px 0 1px 0px;
            font-weight: bold;
        }
    }
}
