* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    -webkit-font-smoothing: antialiased;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
        Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
    font-size: 14px;
    color: white;
    background: #1c232b;
}

/* Header */
.Header {
    @tab-width: 90px;
    @tab-padding: 10px;
    @tab-stride: @tab-width + 2 * @tab-padding;
    @line-size: 5px;

    padding: 15px 15px 0;
    margin-bottom: 10px;
    background-color: #22292f;
    border-bottom: @line-size solid #282f35;

    .Header__Tabs {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 5px;

        a {
            display: block;
            color: #535a65;
            text-decoration: none;
            text-transform: uppercase;
            padding: @tab-padding;
            font-size: 18px;
            font-weight: bold;
            text-align: center;
            transition: color 0.1s;
            cursor: pointer;
            user-select: none;
            position: relative;

            &:hover {
                color: #636b77;
            }

            &::after {
                content: "";
                background: linear-gradient(90deg, #9c00ff, #385bf7);
                height: 1px;
                position: absolute;
                left: 5px;
                right: 5px;
                bottom: 2.5px;
                transition: all 250ms ease 0s;
                transform: scaleX(0);
                border-radius: 5px;
            }
            &.active::after,
            &:hover::after {
                transform: scaleX(1);
            }

            &.active {
                color: white;
                &::after {
                    height: 3px;
                }
            }
        }
    }

    h1 {
        font-size: 40px;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }
    h2 {
        color: #636b77;
        font-size: 17px;
        font-style: italic;
    }
}

.Filters {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 10px;
    margin-top: 15px;

    .Filters__Filter {
        flex: 1;

        label {
            display: block;
            margin: 6px 5px 5px;
            font-size: 15px;
            font-weight: bold;
        }

        &:first-child {
            margin-right: 10px;
        }

        @media (max-width: 1279px) {
            min-width: 100%;
            &:first-child {
                margin-right: 0;
            }
        }
    }
}

/* TimeSelector */
.TimeSelector {
    width: 100%;
    border: 1px solid #596570;
    box-sizing: border-box;
    border-radius: 5px;
    overflow: hidden;
    background-color: #1e2529;
    user-select: none;

    canvas {
        image-rendering: pixelated;
    }
}

/* ImageSmooth */
.ImageSmooth {
    position: "absolute";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* Chip */
.Chip {
    display: flex;
    align-items: center;

    svg {
        width: 16px;
        height: 16px;
    }

    span {
        margin-left: 3px;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }

    span + * {
        flex-shrink: 0;
    }
}

.card-container {
    display: flex;
    flex-wrap: wrap;
}

.card {
    height: 700px;
    min-width: 320px;
    border-radius: 15px;
    background: #22292f;
    box-shadow: 0 1px 3px rgb(0 0 0 / 12%), 0 1px 2px rgb(0 0 0 / 24%);
    margin: 20px;

    &.card-1 {
        width: 33%;
    }
    &.card-2 {
        width: 66%;
    }
    &.card-3 {
        width: 100%;
    }
}

.card-title {
    font-size: 20px;
    padding: 10px;
    margin-bottom: 15px;
    text-align: center;
    border-bottom: 5px solid #282f35;
}

/* Simple Table */
.simple-table {
    padding: 15px;
    padding-top: 0;

    ul {
        overflow-x: hidden;
        list-style: none;

        li:before {
            float: left;
            width: 0;
            white-space: nowrap;
            color: #636363;
            content: ". . . . . . . . . . . . . . . . . . . . " ". . . . . . . . . . . . . . . . . . . . "
                ". . . . . . . . . . . . . . . . . . . . " ". . . . . . . . . . . . . . . . . . . . "
                ". . . . . . . . . . . . . . . . . . . . " ". . . . . . . . . . . . . . . . . . . . "
                ". . . . . . . . . . . . . . . . . . . . " ". . . . . . . . . . . . . . . . . . . . "
                ". . . . . . . . . . . . . . . . . . . . " ". . . . . . . . . . . . . . . . . . . . "
                ". . . . . . . . . . . . . . . . . . . . " ". . . . . . . . . . . . . . . . . . . . "
                ". . . . . . . . . . . . . . . . . . . . " ". . . . . . . . . . . . . . . . . . . . "
                ". . . . . . . . . . . . . . . . . . . . " ". . . . . . . . . . . . . . . . . . . . "
                ". . . . . . . . . . . . . . . . . . . . " ". . . . . . . . . . . . . . . . . . . . "
                ". . . . . . . . . . . . . . . . . . . . ";
        }
        span:first-child {
            padding-right: 0.33em;
            background: #22292f;
        }
        span + span {
            float: right;
            padding-left: 0.33em;
            background: #22292f;
        }
    }
}

/* AnimatedBars */
.AnimatedBars {
    min-height: 200px;
    margin: 0 15px;
}
.AnimatedBars__header {
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    color: #636b77;
    font-weight: bold;
    margin-bottom: 8px;
}
.AnimatedBars__body {
    position: relative;
    height: 200px;
}
.AnimatedBars__item {
    position: absolute;
    left: 0;
    transition: 0.5s top;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    user-select: none;
}
.AnimatedBars__bar {
    position: absolute;
    height: 100%;
    transition: 0.5s width;
    border-radius: 3px;
}
.AnimatedBars__value,
.AnimatedBars__unit {
    z-index: 1;
    padding: 5px;
}

#app {
    //margin: 15px 25px 0 25px;
}
