<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Chat Analytics - Chat analysis in the browser</title>
<link rel="canonical" href="https://chatanalytics.app" />
<link rel="icon" type="image/png" href="https://chatanalytics.app/favicon.png">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link rel="preconnect" href="https://p.chatanalytics.app">
<link href="https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;500;600&display=swap" rel="stylesheet">

<% desc = "Generate interactive, beautiful and insightful chat analysis reports from WhatsApp, Telegram, Discord and others. Free, secure and Open Source." %>

<meta name="theme-color" content="#1c232b">
<meta name="robots" content="index, follow">
<meta name="description" content="<%= desc %>">
<meta name="keywords" content="chat,analysis,analyzer,analytics,report,browser,app,telegram,whatsapp,discord,free">
<meta name="twitter:card" content="summary">
<meta name="twitter:url" content="https://chatanalytics.app">
<meta name="twitter:title" content="Chat Analytics">
<meta name="twitter:description" content="<%= desc %>">
<meta name="twitter:image" content="https://chatanalytics.app/logo-512.png">
<meta property="og:url" content="https://chatanalytics.app">
<meta property="og:type" content="website">
<meta property="og:site_name" content="Chat Analytics">
<meta property="og:title" content="Chat Analytics">
<meta property="og:description" content="<%= desc %>">
<meta property="og:image" content="https://chatanalytics.app/logo-512.png">
<meta property="og:image:width" content="512">
<meta property="og:image:height" content="512">

</head>
<body>
<div id="app"></div>
</body>
</html>
