.Button {
    display: inline-flex;
    align-items: center;
    padding: 0 24px;
    font-family: inherit;
    font-weight: 500;
    border: 0;
    appearance: none;
    border-radius: 6px;
    color: #fff;
    height: 50px;
    padding: 0 30px;
    font-size: 14px;
    text-decoration: none;
    cursor: pointer;
    user-select: none;
    transition: background-color 0.2s ease, color 0.2s ease, transform 0.2s ease;
    white-space: nowrap;

    img {
        width: 2rem;
        height: 2rem;
        margin-right: 8px;
    }
}
