* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}

body {
    color: white;
    background-color: #1c232b;
    font-family: "Fira Sans", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans,
        sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
}

a {
    text-decoration: none;
    color: #8acfff;
}

ol {
    padding: 0 1.4em;
}

@media (min-width: 450px) {
    ol {
        padding: 0 1.8em;
    }
}

li::marker {
    color: #a985ff;
}

@logo-height: 60px;
@logo-margin-top: 3vh;
@logo-margin-bottom: 2vh;

.HomePage {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.HomePage__logo {
    height: @logo-height;
    margin: @logo-margin-top 0px @logo-margin-bottom 0px;
}
