.Label {
    width: 100%;
    display: flex;
    align-items: center;

    svg {
        width: 16px;
        height: 16px;
    }

    * + span {
        margin-left: 3px;
    }
}

.Label__avatar {
    position: relative;
    width: 20px;
    height: 20px;
    overflow: hidden;
    border-radius: 50%;
    flex-shrink: 0;
}

.Label__name {
    color: white;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    font-weight: 600;
}

.Label__discriminator {
    font-weight: normal;
    color: rgb(255 255 255 / 65%);
    font-family: monospace;
}

.Label-domain {
    .Label__name {
        color: #7ed0ff;
        cursor: pointer;
        text-decoration: none;
        display: flex;
        align-items: center;
    }

    .Label__icon {
        position: relative;
        width: 16px;
        height: 16px;
        margin-right: 6px;
    }
    .Label__linkout {
        margin-left: 5px;
    }
}
