.Landing {
    min-width: 300px;
    margin: 0 165px;
    transition: opacity 0.5s;
}

.Landing__title {
    font-size: 48px;
    color: white;
    line-height: 1.2;
}

.Landing__desc {
    color: #7f8fa4;
    margin: 20px 0 50px;
}

.Landing__buttons {
    display: flex;

    a {
        margin-left: 15px;
    }
    a:last-child {
        margin-left: 25px;
    }
}

.Landing__sameline {
    display: inline-flex;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 5px;
}

.Landing__platforms-line {
    display: flex;
    align-items: center;
    user-select: none;
}

.Landing__platform {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 1.7rem;
    height: 1.7rem;
    margin-left: 5px;

    img {
        width: 55%;
        height: 55%;
    }
}

.Landing_cta {
    box-shadow: 0 14px 30px 0 rgb(118 64 245 / 20%) !important;

    &:hover {
        box-shadow: 0 20px 35px 0 rgb(118 64 245 / 20%);
        transform: scale(1.05);
    }
}
