* {
    margin: 0;
    padding: 0;
    border: 0;
}

html,
body {
    /* Prevent backwards/forwards navigation swiping (Chrome and Firefox) */
    overscroll-behavior-x: none;
}

body {
    -webkit-font-smoothing: antialiased;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
        Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
    font-size: 14px;
    color: white;
    background: #1c232b;
}

.LoadingOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: opacity 0.15s;
    opacity: 1;

    &.LoadingOverlay--hidden {
        opacity: 0;
        pointer-events: none;
    }
}

.LoadingOverlay__spinner {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 20px;

    img {
        height: 25px;
    }
}

.LoadingOverlay__logo img {
    height: 60px;
}

/* ImageSmooth */
.ImageSmooth {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* Simple Table */
.simple-table {
    padding: 15px;
    padding-top: 0;

    ul {
        overflow-x: hidden;
        list-style: none;

        li:before {
            float: left;
            width: 0;
            white-space: nowrap;
            color: #636363;
            content: ". . . . . . . . . . . . . . . . . . . . " ". . . . . . . . . . . . . . . . . . . . "
                ". . . . . . . . . . . . . . . . . . . . " ". . . . . . . . . . . . . . . . . . . . "
                ". . . . . . . . . . . . . . . . . . . . " ". . . . . . . . . . . . . . . . . . . . "
                ". . . . . . . . . . . . . . . . . . . . " ". . . . . . . . . . . . . . . . . . . . "
                ". . . . . . . . . . . . . . . . . . . . " ". . . . . . . . . . . . . . . . . . . . "
                ". . . . . . . . . . . . . . . . . . . . " ". . . . . . . . . . . . . . . . . . . . "
                ". . . . . . . . . . . . . . . . . . . . " ". . . . . . . . . . . . . . . . . . . . "
                ". . . . . . . . . . . . . . . . . . . . " ". . . . . . . . . . . . . . . . . . . . "
                ". . . . . . . . . . . . . . . . . . . . " ". . . . . . . . . . . . . . . . . . . . "
                ". . . . . . . . . . . . . . . . . . . . ";
        }
        span:first-child {
            padding-right: 0.33em;
            background: #22292f;
        }
        span + span {
            float: right;
            padding-left: 0.33em;
            background: #22292f;
        }
    }
}
