.Steps {
    width: 400px;
    background-color: #26303b;
    padding: 15px;
    border-radius: 8px;
}

.PlatformSelect__buttons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
}
